body {
  background-color: #f0f0f0; 
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #6a75ef; 
  padding: 10px 0;
  margin-top: 20px; 
}

.navbar-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  flex: 1;
  text-align: center;
}

.navbar-item a, .navbar-item button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.navbar-item button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.navbar-item button:hover, .navbar-item a:hover {
  background-color: #4855e5; 
}

.navbar-item a {
  transition: background-color 0.3s ease;
}

.navbar-item button {
  transition: background-color 0.3s ease;
}

.addUser {
  background-color: white;
  width: 25%;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.addUserForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addUserForm .inputGroup label {
  margin-top: 10px;
}

.addUserForm .inputGroup input {
  margin-top: 5px;
  padding: 10px;
}

.inputGroup button {
  margin-top: 10px;
  background-color: #6a75ef; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.inputGroup button:hover {
  background-color: #4855e5;
}

.login {
  margin-top: 30px;
  text-align: center;
}

.login .btn.btn-primary {
  width: 50%;
}

.addUser h3 {
  text-align: center;
  font-weight: bold;
  color: darkcyan;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
